*{
    margin: 0;
}
#box{
    background-image: url(img/html-5.png);
    background-color: black;
    margin: 10px 20px 30px 40px;
    border: 1px solid black;
    padding-left:10px  20px 30px 40px;
    box-shadow: 4px 4px 4px 0px yellow inset, 8px 8px 2px 0px blue;
}