*{
    margin: 0;
}
p{
    color:black;
    font-size: 30px;
}
#box{
    min-width: 200px;
    width: 50px;
    margin: 20px;
    border: 1px solid orange;
    padding-left:10px  20px 30px 40px;
}

#container-img{
    border: medium solid black;
    background-image: url(...img/colombia.jpg);
    background-size: cover;
}
