*{
    margin: 0;
}
h1{
    font-size: 22px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
.ins{
    border-width: 5px;
    border-style: dashed;
    border-color: blue;
    border-top-left-radius: 16px;

    /*Atalho:
    border: 5px solid blue;
    ordem: width style color
    */
}
.intro{
    border-bottom: 2px solid #FFFFFF;
    background: GRAY;
    width: 12cm;
    font-size: 20px;
    height: 2em;
}
#box{
    background-image: url(img/html5.png);
    color: aliceblue;
    background-color: lightcoral;
    margin: 10px 20px 30px 40px;
    border: 1px solid black;
    padding-left:10px  20px 30px 40px;
    box-shadow: 4px 4px 4px 0px purple inset, 8px 8px 2px 0px #5F7D8E;
}